body{
  font-family: Helvetica, Sans-Serif;
}
#img_bar{
  z-index: -2;
  background-color: #bdc3c7;
}
img {
  display: block;
  position: relative;
  margin: 0 auto;
  height: 200px;
  width: 200px;
  border: 4px solid #ecf0f1;
  border-radius: 50%;
  z-index: -1;
}
.inset_shadow{
  display: inline-block;
  border-radius: 50%;
  -webkit-box-shadow: inset 0px 3px 11px rgba(50, 50, 50, 0.9);
  -moz-box-shadow:    inset 0px 3px 11px rgba(50, 50, 50, 0.9);
  box-shadow:         inset 0px 3px 11px rgba(50, 50, 50, 0.9);
  z-index: 3;
}
h1 {
  font-size: 3em;
}