@import url(../../../vendor/fontello-718edc1b/css/jonathantr-embedded.css);
@import url(../../../vendor/fontello-718edc1b/css/jonathantr-codes.css);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Alegreya:400italic,400|Alegreya+SC:400,400italic);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", "Helvetica", Sans-Serif; }

body {
  background-color: white;
  font-family: "Alegreya", "Georgia", Palatino, Serif;
  font-size: 15px; }
  body .inner-container {
    width: 90%;
    margin: 0 auto; }
  body nav {
    margin-top: 0px;
    position: fixed;
    height: 5em;
    width: 100%;
    background-color: #262626; }
    body nav h1 {
      color: white; }
    body nav #logo:after {
      content: "JTR"; }
      @media screen and (min-width: 30em) {
        body nav #logo:after {
          content: "JonathanTR"; } }
      @media screen and (min-width: 50em) {
        body nav #logo:after {
          content: "Jonathan Turnbull-Reilly";
          font-size: 0.8em; } }
  body #container {
    padding-top: 5em; }
    body #container #quick-intro {
      padding-top: 7.5px;
      padding-bottom: 0px;
      background: url(../../images/laptop.jpg) no-repeat;
      background-size: 40em;
      background-position: center;
      color: #262626; }
      @media screen and (min-width: 30em) {
        body #container #quick-intro {
          padding: 6em 10% 12em;
          background-size: cover;
          text-align: center; } }
      body #container #quick-intro h1 {
        padding: 0.5em;
        background-color: rgba(236, 240, 241, 0.75);
        border-radius: 5px; }
        @media screen and (min-width: 50em) {
          body #container #quick-intro h1 {
            font-size: 2.25em; } }
        body #container #quick-intro h1 #name {
          color: #c93724; }
      body #container #quick-intro #social-links {
        background-color: white;
        text-align: center;
        width: 100%;
        margin-bottom: 0px;
        padding: 10px; }
        @media screen and (min-width: 30em) {
          body #container #quick-intro #social-links {
            background-color: rgba(236, 240, 241, 0.75);
            border-radius: 5px;
            width: 90%;
            margin: 0 auto; } }
        body #container #quick-intro #social-links a {
          color: #c93724;
          font-size: 1.5em;
          margin: 5%; }
          @media screen and (min-width: 30em) {
            body #container #quick-intro #social-links a {
              font-size: 2em; } }
    body #container #looking-for {
      background-color: #fffb50;
      padding: 2.5% 0;
      /*border-bottom: 1px solid transparentize($charcoal, 0.5);*/
      text-align: center; }
      body #container #looking-for .icons {
        margin-top: 1em;
        text-align: center;
        font-size: 1.5em; }
    body #container #invitation {
      padding: 2.5% 0;
      background-color: #3ce1e8;
      text-align: center; }
      body #container #invitation a {
        text-decoration: none;
        color: #262626; }
      body #container #invitation .icons {
        margin-top: 1em;
        text-align: center;
        font-size: 2em; }
    body #container #portfolio {
      *zoom: 1;
      max-width: 68em;
      margin-left: auto;
      margin-right: auto; }
      body #container #portfolio:before, body #container #portfolio:after {
        content: " ";
        display: table; }
      body #container #portfolio:after {
        clear: both; }
      body #container #portfolio ul {
        list-style: none;
        padding-left: 0; }
      @media screen and (max-width: 15em) {
        body #container #portfolio .project {
          display: block;
          float: left;
          margin-right: 7.42297%;
          width: 100%; }
          body #container #portfolio .project:last-child {
            margin-right: 0; } }
      @media screen and (min-width: 30em) {
        body #container #portfolio .project {
          display: block;
          float: left;
          margin-right: 3.57866%;
          width: 48.21067%;
          margin-left: 25.89467%; }
          body #container #portfolio .project:last-child {
            margin-right: 0; } }
      @media screen and (min-width: 50em) {
        body #container #portfolio .project {
          display: block;
          float: left;
          margin-right: 2.35765%;
          width: 31.76157%;
          margin-left: 0%; }
          body #container #portfolio .project:last-child {
            margin-right: 0; } }
      body #container #portfolio .project img {
        width: 100%;
        border: 1px solid rgba(38, 38, 38, 0.5); }
