body {
  font-size: 16px;
}
@media only screen and (max-width: 500px) {
  body {
    font-size: 12px;
  }
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Josefin Sans', sans-serif;
  margin: 1.2em auto 0.2em;
}
p {
  margin-top: 0px;
}
ul {
  padding-left: 1em;
}
::selection {
  background: lightcoral;
  color: white;
}
#about-me {
  display: none;
}
.address {
  display: flex;
  justify-content: space-between;
  margin: 1em auto 3em;
  max-width: 16em;
}
.link {
  border-bottom: 2px solid transparent;
  color: lightcoral;
  padding-bottom: 2px;
  text-decoration: none;
}
.link:hover { border-bottom: 2px solid lightcoral; }
.link:visited { color: lightcoral; }
.portrait {
  border-radius: 50%;
  height: 150px;
  margin: 0 auto;
}
.section {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.8em;
  margin: 0 auto;
  width: 79%;
  max-width: 790px
}
.section--hero {
  margin-top: 24vh;
  text-align: center;
}
