.navbar {
  background-color: $peter_river;
  border-bottom: none;
  font-family: $headings-font;
  .navbar-brand {
    padding-left: 0em;
  }
  .navbar-brand:after {
    color: $clouds;
    @include media($mobile){
      content: 'JTR';
    }
    @include media($tablet){
      content: 'JonathanTR';
    }
    @include media($screen){
      content: 'Jonathan Turnbull-Reilly';
    }
  }
  .navbar-collapse {
    border-top: none;
    li a {
      color: lighten($peter_river, 90%)
    }
  }
  button.navbar-toggle {
    margin-right: 0em;
    border: 1px solid $clouds;
    i.icon-bar {
      background-color: $clouds;
    }
    &:hover{
      background-color: lighten($charcoal, 10%);
    }
  }
}